# Emacs detritus
*~

# Mac crap
*.DS_Store

# Redis db files
*.rdb

# This file is left over after integration tests.
# It can be useful for post-mortem debugging, but it
# doesn't belong in the repo.
nsqd.dat

# The build script in scripts/build.rb puts our binaries here.
bin/go-bin

# VSCode and copy of .env file are for visual debugging
.vscode/
apps/restorer_manual_test/.env.test